<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    
      
  
  
        <!--<system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="WCF.SERVICE.WCFProductService">
                <endpoint address="" binding="basicHttpBinding" contract="WCF.SERVICE.IWCFProductService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/WCF.SERVICE/WCFProductService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>-->


    

<connectionStrings><add name="AdventureWorks2014Entities" connectionString="metadata=res://*/DBX.csdl|res://*/DBX.ssdl|res://*/DBX.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=HP\SQLEXPRESS;initial catalog=AdventureWorks2014;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>

    <system.serviceModel>
        <services>
            <service name="WCF.SERVICE.WCFProductService">
                <endpoint address="http://localhost:9999/ProductService" 
                          binding="basicHttpBinding"
                          bindingConfiguration="" 
                          name="ProductServiceEndPoint" 
                          contract="WCF.SERVICEINTERFACE.IWCFProductService" />
            </service>
        </services>
    </system.serviceModel>
  
  
</configuration>